streamlit==1.36.0
langchain==0.2.6
langchain-community==0.2.6
langchain-openai==0.1.13
python-dotenv==1.0.1
pydantic==2.8.2
metapub==0.5.12
chromadb==0.4.24

knowledge-graph-maker==0.2.1
neo4j-graphrag==1.1.0